{% extends "layout.html" %}

{% block body %}
    <h1 style="text-align: center">Twitter Hashtag NetMap</h1>
    <div class="main">
        <input class="inputs" autocomplete="off" autofocus id="location" name="location" location="location" type="text" placeholder="location">
        <input class="inputs" autocomplete="off" autofocus id="q" name="q" q="q" type="text" placeholder="hashtag" >
        <input class="search" type="button" onClick="loadWait();" value="Search">
    </div>
    <div >
        <div id="netGraph">
            <script>
                var graphs = {{ plot | safe }};
                Plotly.plot('netGraph', graphs, {});
            </script>

        </div>
    </div>

{% endblock %}