{% extends "layout.html" %}

{% block body %}
    <h1 style="text-align: center">Twitter Hashtag NetMap</h1>
    <div class="main">
        <input class="inputs" autocomplete="off" autofocus id="location" name="location" location="location" type="text" placeholder="location">
        <input class="inputs" autocomplete="off" autofocus id="q" name="q" q="q" type="text" placeholder="hashtag" >
        <input class="search" type="button" onClick="loadWait();" value="Search">
    </div>
    <div class='renderContent'>
        <div class='loaderDiv'>
            <img class="loader" src="{{ url_for('static', filename='images/Double Ring-2.1s-200px.gif')}}"/>
        </div>
        <div id="netGraph">
        </div>
    </div>

{% endblock %}